%div#room{'data-room': cookies.encrypted[:token]}
%div#globeSphere
= render 'earthquakes/quake_filters'

- content_for :head do
  -# maybe don't use yield, carry them to header
  -# %script{src: '//unpkg.com/three'}
  -# %script{src: '//unpkg.com/globe.gl'}
  -# = javascript_import_module_tag "earthquake"